.contact {
    display: flex;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 10px;
    align-items: center;
    gap: 1em;
    cursor: pointer;
}

.user-image {
    border-radius: 50%;
}

.user-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.contact:hover {
    background-color: #afafaf;
}

.contact.selected {
    background-color: #c5c5c5;
}