doctype html
html
    head
        title Super Secure
    body
        h1 Welcome to Super Secure server
        p New colaborator registered: 
        h2 Username: #{user.username}
        h2 Full Name: #{user.fullName}
        h2 Clearance Level: #{user.clearanceLvl}
        h2 One Time ID: #{user.stringId}
