.nav-link{
    font-family: 'Roboto', sans-serif;
    color: white !important;
    font-weight: bold;
}

.nav-link:hover{
    color: #48cfac !important;
}

#active{
    color: #48cfac !important;
}

.bg-dark {
    background-color: black!important;
}

#headerLogo{
    width: 35%;
    height: auto;
}

.navbar-brand{
    margin: 0;
    padding-right: 0;
    padding-top: 2rem;
    padding-left: 1em;
    width: 9%;
    height: auto;
}